body{
    margin: 0;
    padding: 0;
}

*{
    text-decoration: none;
}

h1{
    margin-left: 80px;
}

.create{
    margin:50px 0 0 900px;
  
}

.create-btn{
    background-color: cadetblue;
    width: 150px;
    height: 50px;
    text-align: center;
    border-radius: 10px;
    border-style: none;
    font-size: large;
    
   
}

.create-btn a{
    color: white;
}

.write-wrapper{
    
    width: 100%;
}

.write{
    margin: 100px;
    padding: 50px;
    width: 60%;
    height: 200px;
    border: 1px solid black;
}

.write div{
    margin-top: 10px;
}

.update-delete{
    display: flex;
    float: right;
}

.update-delete div{
    margin:5px;
}